<h1>
  App Training Guide
</h1>

<h3>
  Angular Objectives
</h3>
<table>
  <tr>
    <label (click)="onNavigate()" >Angular-cli commands</label>
  </tr>
  <tr>
    <label>Simple Components</label>
  </tr>
  <tr>
    <label>HTML</label>
  </tr>
  <tr>
    <label>CSS</label>
  </tr>
  <tr>
    <label>Presentation(container)</label>
  </tr>
  <tr>
    <label>Simple Routing</label>
  </tr>
  <tr>
    <label (click)="goLogin()">Local Services and dependency injection</label>
  </tr>
  <tr>
    <label>Http Services</label>
  </tr>
  <tr>
    <label>Projection(transclusion)</label>
  </tr>
  <tr>
    <label>Observables</label>
  </tr>
</table>
