
  <h1>
    <div this-here>{{title}}</div> <!-- attempting content projection-->
  </h1>


  <div class="row">
    <button id="homeBtn" class="btn btn-primary" (click)="goHome()">Home</button>
    <button id="loginBtn" class="btn btn-primary" (click)="goLogin()">Login</button>
    <button id="apiBtn" class="btn btn-primary" (click)="goApi()">API Tool</button>
    <button id="searchBtn" class="btn btn-primary" (click)="goSearch()">Search</button>
    <button id="profilesBtn" class="btn btn-primary" (click)="goProfiles()">Profiles</button>

  </div>

  <!-- display of routed pages -->
  <div class="appRouter">
    <router-outlet></router-outlet>
  </div>

